<!--#################### Home ####################-->
<div class="container">
  <!-- Bubble intro -->
  <!-- <div class="row">
    <div class="col-md-6 pull-left">
      <div class="media">
        <img src="./res/wigflip-ds.png">
      </div>
    </div>
  </div> -->
  <div class="row" style="height: 30px;"></div>
  <div class="row">
    <div class="col-md-2">
      <ul class="media-list" ng-repeat="item in navCtrl.navItems">
        <li class="media">
          <div class="media-left">
            <a id="{{ item.name }}_icon" href="#/{{ item.name }}" ng-click="navCtrl.activeItem = item.name; navCtrl.changeView(item.name); navCtrl.logClickEvent(item.name)">
              <img class="media-object" src="./res/win95/{{ item.icon }}" />
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">{{ item.name }}</h4>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- Info -->
  <div class="row col-md-12">
    <a id="info_icon" role="button" href="#/home" ng-click="navCtrl.logClickEvent('info')">
      <img src="./res/win95/winhlp32_4001.ico" />
    </a>
  </div>
  <!-- Separator -->
  <div class="row" style="height: 100px;"></div>
  <!-- Trashcan -->
  <div class="row col-md-12">
    <a id="trashcan_icon" role="button" href="#/home" ng-click="navCtrl.logClickEvent('trashcan')">
      <img src="./res/win95/shell32_33.ico" />
    </a>
  </div>
</div>