<!--#################### Contact ####################-->
<div class="container theme-showcase" role="main">
  <div class="row">
    <div class="col-md-5">
      <div class="well well-md">
        <h4>Contact</h4>
        <div class="list-group">
          <li class="list-group-item text-left"><img src="./res/GitHub-Mark-32px.png"> <a href="https://github.com/mutaphore">https://github.com/mutaphore</a></li>
          <li class="list-group-item text-left"><img src="./res/In-Black-34px-R.png"> <a href="https://www.linkedin.com/in/dewei-chen-1524aba">https://linkedin.com/in/dewei-chen-1524aba</a></li>
          <li class="list-group-item text-left" ><img src="./res/win95/exchng32_12950.ico"> <a href="mailto:dewei.chen@cs.nyu.edu">dewei dot chen at cs.nyu.edu</a></li>
          <li class="list-group-item text-left"><img src="./res/win95/write_1.ico"> <a href="https://mutaphore.github.io">https://mutaphore.github.io</a></li>
        </div>
      </div>
    </div>
  </div>
</div>
