<!--#################### Projects ####################-->
<div class="container theme-showcase" role="main">
  <div class="row">
    <div class="col-md-8">
      <div class="well well-md">
        <h4 id="currently">Current</h4>
        <div class="list-group">
          <a class="list-group-item" href="https://github.com/mutaphore/docker-dispatch">Dispatch Docker containers from RabbitMQ messages <span class="badge">Go</span></a>
          <a class="list-group-item" href="https://github.com/mutaphore/bigdata_project">Big data analytic on HackerNews/Reddit upvotes using Hadoop Hive and MapReduce<span class="badge">Python / Hadoop</span></a>
          <a class="list-group-item" href="http://mlproject.herokuapp.com">A linear regression plotter using gradient descent to find best fit <span class="badge">Python / Django / Heroku</span></a>
        </div>
      </div>
    </div>
  </div>
  <div class = "row">
    <div class="col-md-8">
      <div class="well well-md">
        <h4 id="past">Recent</h4>
        <div class="list-group">
          <a class="list-group-item" href="http://cims.nyu.edu/drecco/games/GravitationalVoronoi/crz.php">Gravitational voronoi game<span class="badge">Javascript / PHP</span></a>

          <a class="list-group-item" href="https://github.com/mutaphore/RTSP-Client-Server">Video streaming between client and server using RTSP and RTP protocols<span class="badge">Java</span></a>

          <a class="list-group-item" href="https://github.com/mutaphore/spring-rest-service">Simple RESTful APIs using Spring and Roo<span class="badge">Java / Postgres / AWS</span></a>

          <a class="list-group-item" href="https://github.com/mutaphore/NYU-JOS">An exokernel operating system called JOS<span class="badge">C</span></a>
        </div>
      </div>
      <div class="well well-md">
        <h4 id="older">Older</h4>
        <div class="list-group">
          <a class="list-group-item" href="https://github.com/mutaphore/CSC349_knapsack_project">Knapsack problem<span class="badge">Java</span></a> 
          <a class="list-group-item" href="http://mutaphore.github.io/Calculon">Calculon (auto program grader)<span class="badge">C</span></a> 
          <a class="list-group-item" href="http://mutaphore.github.io/LZW-Compressor">LZW Compressor<span class="badge">C</span></a> 
          <a class="list-group-item" href="https://gitlab.com/mutaphore/CSC103_project1/tree/master">Expression converter<span class="badge">Java</span></a> 
          <a class="list-group-item" href="https://gitlab.com/mutaphore/CSC103_project4/tree/master">Student records storage<span class="badge">Java</span></a> 
          <a class="list-group-item" href="https://gitlab.com/mutaphore//CSC103_project5/tree/master">Sorting algorithms<span class="badge">Java</span></a> 
          <a class="list-group-item" href="http://mutaphore.github.io/Linear-Simulator">Linear Simulator<span class="badge">C</span></a>
        </div>
      </div>
    </div>
  </div>
</div>